html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.box {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: transparent;
  scrollbar-width: none;
  scrollbar-color: #000000ff #00000000;
}

.boxFlex {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  align-items: flex-start;
}
